.car-container {
        padding-top: 50px;
}

.fuel-container {
        width: 75%;
        height: 75%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        min-width: 300px;

        @media screen and (max-width: 600px) {
                border-radius: 15px;
        }
}

.fuel-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: calc(100% - 80px - 31px);
        padding-top: 0px;
        background-color: #BDDF7A;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 310px;
}