<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
<div class="fuel-modal">
        <div class="fuel-container col-md-12">
                <div class="car-container">

                </div>
                <div class="row">
                        <div class="form-group col-5">
                                <input type="text" class="form-control col-4" id="staticEmail"
                                        value="email@example.com">
                        </div>
                        <label class="col-1 col-form-label">
                                <span>KM</span>
                        </label>
                </div>
        </div>
</div>